<!doctype html>
<html>
<head>
    <title>Lab5</title>
    <meta charset="utf-8" />
</head>
<body>
    <h2>Меню</h2>
    <div>@Html.ActionLink("Производители", "Index", "Manufacturer")</div>
    <div>@Html.ActionLink("Препараты", "Index", "Medicine")</div>
    <div>@Html.ActionLink("Иргридиенты", "Index", "Ingredient")</div>
</body>
</html>