@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using Lab4.MedicineDB;
@model Ingredient

<head>
    <title>Новый ингридиент</title>
    <meta charset="utf-8" />
</head>

<h2>Добавить ингридиент</h2>

<form asp-action="Create" method="post">
    <div>
        <label asp-for="Name">Имя</label>
        <input asp-for="Name" />
        <span asp-validation-for="Name"></span>
    </div>

    <button type="submit">Добавить</button>
</form>

<a asp-action="Index">Назад</a>